# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
cognito/node_modules

# testing
cognito/coverage

# production
cognito/build

# misc
cognito/.DS_Store
cognito/.env.local
cognito/.env.development.local
cognito/.env.test.local
cognito/.env.production.local

cognito/npm-debug.log*
cognitoyarn-debug.log*
cognitoyarn-error.log*

api/schema.gql
api/schema.json

api/dist/*
api/node_modules
